.header {
  padding: 15px 24px 0 28px !important;
}

.userInfo {
  @media (max-width: 575px) {
    display: none !important;
  }
}

.username {
  color: #fff !important;
  font-weight: 700;
  font-size: 16px;
}

.bars {
  color: #fff !important;
  padding: 0 !important;
  font-size: 20px !important;
  display: none !important;

  @media (max-width: 1023px) {
    display: inline-block !important;
  }
}
